albumentations==0.5.2
loguru==0.5.3
matplotlib==3.3.2
numpy==1.20.3
Pillow==9.0.1
ruamel.base==1.0.0
segmentation==0.2.2
timm==0.3.2
torch==1.7.0
torchstat==0.0.7
torchvision==0.8.1
tqdm==4.61.1
ttach==0.0.3
yacs==0.1.8
